*

!.gitignore

!.bashrc
!.config/
!.config/bspwm/
!.config/bspwm/bspwmrc
!.config/clight.conf
!.config/mpv/
!.config/mpv/mpv.conf
!.config/picom/
!.config/picom/picom.conf
!.config/polybar/
!.config/polybar/config.ini
!.config/sxhkd/
!.config/sxhkd/sxhkdrc
!.fonts.conf
!.gnupg/
!.gnupg/dirmngr.conf
!.ssh/
!.ssh/config
!.tmux.conf
!.vimrc
!.vim/
!.vim/autoload/
!.vim/autoload/plug.vim
!.vim/spell/
!.vim/spell/en.utf-8.add
!.zshrc

!.config/environment.d/
!.config/environment.d/*
