*

!.gitignore

!.config/
!.config/bspwm/
!.config/bspwm/bspwmrc
!.config/clight.conf
!.config/picom/
!.config/picom/picom.conf
!.config/polybar/
!.config/polybar/config.ini
!.config/sxhkd/
!.config/sxhkd/sxhkdrc
!.fonts.conf
!.gnupg/
!.gnupg/dirmngr.conf

!.config/environment.d/
!.config/environment.d/*
