*

!.bashrc
!.drirc
!.fonts.conf
!.gitignore
!.tmux.conf
!.vimrc
!.zshrc
!.Xresources
!.config/
!.config/bspwm/
!.config/bspwm/bspwmrc
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/mpv/
!.config/mpv/mpv.conf
!.config/picom/
!.config/picom/picom.conf
!.config/polybar/
!.config/polybar/config.ini
!.config/rofi/
!.config/rofi/config.rasi
!.config/rofi/themes/
!.config/rofi/themes/rounded-common.rasi
!.config/rofi/themes/rounded-blue-dark.rasi
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/bspwm.env
!.config/systemd/user/bspwm.service
!.config/systemd/user/clight.service
!.config/systemd/user/fcitx5.service
!.config/systemd/user/gui-session-pre.target
!.config/systemd/user/gui-session.target
!.config/systemd/user/nekoray.service
!.config/systemd/user/picom.service
!.config/systemd/user/polybar.service
!.config/systemd/user/xorg@.service
!.config/systemd/user/xorg@.socket
!.config/sxhkd/
!.config/sxhkd/sxhkdrc
!.gnupg/
!.gnupg/dirmngr.conf
!.ssh/
!.ssh/config
!.vim/
!.vim/autoload/
!.vim/autoload/plug.vim
!.vim/spell/
!.vim/spell/en.utf-8.add
!Pictures/
!Pictures/kanagawa-inverted-darker.jpg

!.config/environment.d/
!.config/environment.d/*
